<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <property
            name="msg-without-passwords"
            value="%replace(%msg){'(password=[^&amp;\\s]*|&quot;password&quot;:&quot;(.*?)&quot;)', 'password=*****'}"
    />
    <property name="default.pattern" value="%date %-5level [%.25thread] %logger{26} - ${msg-without-passwords}%n"/>
    <property name="logback.file.final-directory" value="${logback.file.directory:-${node.directory}/log}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${logback.pattern:-${default.pattern}}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.appender.file.level:-TRACE}</level>
        </filter>
        <file>${logback.file.final-directory}/we.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${logback.file.final-directory}/we.%d{yyyy-MM-dd}.log.gz</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 5GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${default.pattern}</pattern>
        </encoder>
    </appender>

    <logger name="slick" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="io.swagger" level="INFO"/>

    <logger name="com.wavesenterprise.network.peers.PeerSynchronizer" level="DEBUG"/>
    <logger name="com.wavesenterprise.transaction.smart" level="INFO"/>

    <logger name="org.apache.http" level="INFO"/>
    <logger name="org.aspectj" level="INFO"/>
    <logger name="org.asynchttpclient" level="INFO"/>

    <logger name="sun.rmi" level="INFO"/>
    <logger name="javax.management" level="INFO"/>

    <logger name="org.flywaydb" level="INFO"/>
    <logger name="org.postgresql.Driver" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
